@model Produto 

<div class="col-sm-4 col-lg-3 col-md-4 col-xs-12 mb-3 ">
    <a class="link-card" asp-controller="Produto" asp-action="ExibirDetalhes" asp-route-ProdutoId="@Model.ProdutoId">
        <div class="card">
                <figure>
                    <img src="@Model.ImagemUrl" class="card-img-top" style="width:100%" alt="@Model.Nome">
                </figure>
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Nome
                </h5>
                <p class="card-text">
                    R$ @Model.Preco
                </p>
                <p>
                    @await Component.InvokeAsync("ScoredRating", new {ProdutoId=Model.ProdutoId})
                </p>
            </div>
            <a class="btn adicionar-carrinho" asp-controller="Carrinho" asp-action="Adicionar" asp-route-ProdutoId="@Model.ProdutoId"><img src="https://img.icons8.com/dotty/30/000000/add-shopping-cart.png"> Carrinho</a>                
        </div>
    </a>
</div>

