@model ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes " + Model.produto.Nome;
}

<div>
    <div>
        <img src="@Model.produto.ImagemUrl"> 
    </div>
    <div>
        @Model.produto.Nome
    </div>
    <div>
        @Model.produto.Descricao
    </div>
    <div>
        @Model.produto.Preco
    </div>
    <button class="btn btn-success" asp-controller="Carrinho" asp-action="AddCarrinho" asp-route-ProdutoId="@Model.produto.ProdutoId">+ Carrinho</button>
</div>


<div>
    <ul>
    @foreach (var item in Model.Comentarios)
    {
        <li>
            @item.ComentarioDoCliente
        </li>
    }
    </ul>
</div>
