@model ProdutoViewModel;

@{
    ViewData["Title"] = "Detalhes";
}


<div>
    <h1> 
        @Model.Nome
    </h1>
    <p>
        @Model.Descricao
    </p>
    <p>
        @Model.Quantidade
    </p>
    <p>
        @Model.Categoria
    </p>
    <p>
        @Model.Preco.ToString("c")
    </p>

    <a class='btn btn-success' asp-controller="Home" asp-action="Index">Home</a>
    <a class="btn btn-primary">+ Carrrinho</a>
</div>